---
import Section from '@/components/Section.astro'
import { basics, education } from '@cv'

const { summary } = basics
const { institution,title,startDate, endDate, url } = education

---

<Section title="About">
    <div class="container" id="about">
        <h1 >Acerca de mí</h1>
        <div class="containerinfo">
            <div class="aboutme">
                {summary}
            </div>
            <div class="study">
                <h1 id="about">Estudios</h1>
                <div class="sections">
                    <div class="cardBox">
                        <div class="card">
                          <div class="front">
                            <p>{institution}</p>
                          </div>
                          <div class="back">
                            <p>{title}</p>
                        <span>{startDate} - {endDate}</span>
                            <a href=`${url}`>{url}</a>
                          </div>
                        </div>
                    </div>
                    <div class="cardBox">
                        <div class="card">
                          <div class="front">
                            <p>Proyecto de título</p>
                          </div>
                          <div class="back">
                            <p>Líder en el desarrollo e implementación de un sistema de monitoreo en tiempo real de actividades académicas</p>
                            <span>Marzo de 2024 - Julio de 2024</span>
                            <a href="#">Más información</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>

<style>

.container{
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding-top: 50px;
}

h1{
    font-size: 2rem;
    text-align: center;
}

.info {
    padding-top: 60px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: 40%;
}

.containerinfo{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 400px;
    margin-top: 20px;
}

.aboutme{
    width: 50%;
    font-size: 1.5rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.study{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sections{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
    font-size: 1.5rem;
}


section:hover {
  transform: rotateY(180deg);
}

section a{
    font-size: 0.8rem;
    color: black;
}

section p{
    width: 80%;
    font-size: 1rem;
    text-align: center;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
}

section span{
    font-size: 0.9rem;
}

.cardBox {
  float: left;
  font-size: 1em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 340px;
}

.cardBox:hover .card {
  transform: rotateY( 180deg);
}

.card {
  background: #222;
  cursor: default;
  height: 300px;
  border-radius: 4%;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 8px 16px rgba(0, 0, 0, 0.2);
}


.card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  transform: rotateY( 180deg);
  font-size: 0.8em;
}

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
  margin-top: 60px;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}


@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}




  @media screen and (max-width: 1377px) {

    .container{
        height: 550px;
    }

    .containerinfo{
        flex-direction: column;
        margin-top: 0px;
        height: 480px;
    }

    .aboutme{
        width: 100%;
        margin-bottom: 20px;
        font-size: 1rem;
    }

    .study{
        width: 100%;
    }

    .sections{
        gap: 10px;
        font-size: 1rem;
    }
}  

@media(min-width: 430px) and (max-width: 790px) {
    .container{
        height: 980px;
    }

    .sections{
        display: flex;
        flex-direction: column;  
        align-items: center;
        text-align: center;
    }
    
    section p{
        width: 70%;
    }

    section span{
        width: 70%;
    }
}  

@media screen and (max-width: 430px) {
    .container{
        height: 740px;
    }

}  



</style>