---
import { basics } from '@cv'
import Mail from '@/icons/Mail.astro'
import Phone from '@/icons/Phone.astro'
import Linkedin from '@/icons/Linkedin.astro'
import Section from '@/components/Section.astro'

const { name, email, label, image, phone, profiles } = basics
const { network, url } = profiles

---

<Section title="Hero">
    <div class="container">
        <div class="containerinfo">
            <div class="text">
                <h1>HOLA, mi nombre es</h1>
                <h2>{name}</h2>
                <h3 >{label}</h3>
                <footer>
                    {
                        email && ( <a href={`mailto:${email}`} 
                        title={`Enviar un correo electrónico a ${name} al correo ${email}`}><Mail height='20px' width='20px'/></a> )
                    }
                    { 
                        phone && ( <a href={`tel:${phone}`} 
                        title={`Llamar a ${name} al número ${phone}`}><Phone height='20px' width='20px'/></a> ) 
                    }
                    { 
                        network && ( <a href={`${url}`} 
                        title={`Linkedin ${name}`}><Linkedin height='20px' width='20px'/></a> ) 
                    }
                    <a class="opentowork" title={`Linkedin ${name}`}>Open to Work</a>
                </footer>
            </div>
            <div class="image">
                <img src={image} alt="Diego">
            </div>
        </div>
    </div>
</Section>
 

<style>

.container {
    width: 100%; /* Asegura que la barra ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content:center; 
    align-items: center;
    background-color: #ECDFCC;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra sutil */
    margin-top: 80px;
}

.containerinfo{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 80%;
    margin-top: 80px;
    padding-bottom: 40px;
}


h1{
    font-size: 3.5rem;
    font-weight: 500;
    
}

h2{
    font-weight: 600;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

h3{
    font-size: 1.5rem;
    font-weight: 400;
}

h4{
    font-size: 1.5rem;
    font-weight: 800;
}

span{
    font-size: 1.1rem;
}

footer{
    margin-top: 10px;
}

footer a{
    color: #1E201E;
    padding-right: 5px ;
}

.opentowork{
    font-size: 1.5rem;
    font-weight: 700;
}


.text {
  flex: 1;
   /* Esto permite que el texto ocupe el espacio disponible */
}

.image img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 324px;
    border-radius: 50%;
}

@media (max-width: 1024px) {
  .containerinfo {
    flex-direction: column;
    text-align: center; /* Centra el texto cuando está en columna */
    padding: 30px;
    padding-top: 0px; /* Menos padding en dispositivos pequeños */
  }

    h1{
        font-size: 1.5rem;
        padding-top: 1rem;
    } 

    h2{
        font-size: 1.6rem;
        padding: 1rem;
    }

    h3{
        font-size: 1.3rem;
    }

    .image  img{
        padding-bottom: 20px;
        margin-right: 0px;
        width: 224px;
    } 

    footer{
        padding: 10px;
    }

}

</style>