---
import { basics } from '@cv'
import Section from '@/components/Section.astro'
import Mail from '@/icons/Mail.astro'
import Phone from '@/icons/Phone.astro'

const { name, email, label, image, location, phone } = basics
const { address, addresst,  } = location

---

<Section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <span>
                { address } - { addresst }
            </span>
            <footer>
                {
                    email && ( <a href={`mailto:${email}`} 
                    title={`Enviar un correo electrónico a ${name} al correo ${email}`}><Mail/></a> )
                }
                
                { 
                    phone && ( <a href={`tel:${phone}`} 
                    title={`Llamar a ${name} al número ${phone}`}><Phone/></a> ) 
                }
            </footer>
        </div>
        <figure>
            <img src={image} alt="Diego">
        </figure>
    </div>
</Section>

<style>

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 500px;
    padding-left: 240px;
    padding-right: 240px;
    color:black;
    background: rgb(68,68,68);
    background: linear-gradient(0deg, rgba(68,68,68,0) 0%, rgba(68,68,68,0.19931722689075626) 100%);
}

footer{
    margin-top: 20px;
}

h1{
    font-size: 2rem;
}

span{
    padding-top: 5px;
}

h2{
    font-weight: 500;
    font-size: 1.4rem;
    text-wrap: balance;
    padding-top: 15px;
}


img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 324px;
    border-radius: 6px;
}

@media screen and (max-width: 1319) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }

}


/* @media screen and (max-width: 960px) {
    .container{
        padding-top: 40px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        align-content: center;
        padding-bottom: 50px;
    }
    .info{
        margin-left: 20px;
        margin-right: 20px;
    }
    img{
        padding-bottom: 20px;
        margin-right: 0px;
    } 
    h1{
    font-size: 1.3rem;
        padding-top: 2rem;
    } 
    h2{
        padding: 1rem;
        font-size: 1.2rem;
    }       
    span{
    padding-top: 0px;
    }
    footer{
        margin-top: 0px;
        padding-top: 1rem;
    }
}

@media screen and (max-width: 700px) {
    .container{
        padding-top: 40px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        align-content: center;
        padding-bottom: 50px;
    }
    .info{
        margin-left: 0px;
    }
    img{
        padding-bottom: 20px;
        margin-right: 0px;
        width: 224px;
    } 
    h1{
    font-size: 1.3rem;
        padding-top: 2rem;
    } 
    h2{
        padding: 1rem;
    }
    span{
    padding-top: 0px;
    }
    footer{
        margin-top: 0px;
        padding-top: 1rem;
    }
} */

</style>